<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sinale{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}

    <!-- Bootstrap -->
    <link rel="stylesheet"
          href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">

    <!-- Estilo da loja -->
    <link rel="stylesheet"
          href="{% static 'css/style.css' %}">

    {% block extra_css %}{% endblock %}
</head>

<body>

    <!-- NAVBAR -->
    {% include "components/navbar.html" %}


    <!-- CONTEÚDO -->
    <main class="container py-4">

        {% block content %}
        {% endblock %}

    </main>


    <!-- FOOTER -->
    {% include "components/footer.html" %}


    <!-- Bootstrap JS -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    {% block extra_js %}{% endblock %}

</body>
</html>